body {
  /* background-image: url(images/hex.jpg);
  background-repeat: repeat; */
}

body,
h1,
h3,
p {
  font-family: Helvetica, Arial, sans-serif;
}

hr {
  width: 600px;
  border-bottom: 1px solid black;
}

.container {
  text-align: center;
  padding-top: 50px;
}

.quote-box {
  border: 1px dashed black;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
}

.get-quote-btn {
  width: 200px;
  margin-bottom: 15px;
  display: inline-block;
}

.fa {
  display: inline-block;
}

.share-quote-btn {
  width: 200px;
}
